doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- facebook open graph tags
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://tsaipowu.com/")
    meta(property="og:title" content=title)
    meta(property="og:description" content=`就決定吃${title}了`)
    meta(property="og:image" content="http://lorempixel.com/400/200/food")
  body
    block content
