doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- facebook open graph tags
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://tsaipowu.com/")
    meta(property="og:title" content=title)
    //- meta(property="og:description" content="The film, based on a Kevin Grisham novel (John Grisham’s brother), revolves around a Southern–born lawyer named Constance Justice.")
    //- meta(property="og:image" content="http://ruraljuror.com/heroimage.png")
  body
    block content
